//Forgot password CSS start here
.forgot-password{
    background-color:$color-muted-light;
    .section-wrapper{
        float:left;
        width:100%;
    }
  .logo{
    padding:0px;
    margin:0px 0px 24px 0px;
    border-bottom:0px;
    text-align:center;
  }

    .forgot-password-form-wrapper{
        width:320px;
        margin:0 auto;
    }
    label{
        color: $color-muted-intense;
    }
    
    h1{
        color: $color-muted-intense;
    }
    p{
        color: $color-muted-intense;
        margin:4px 0px 12px 0px;
    }
    
    input[type="email"]
    {
        width:100%;
        float:left;
    }
    .btn-request{
        float:right;
    }
    .full-block{
        margin:0px 0px 8px 0px;
    }
  .logo{
    padding:0px;
    margin:40px 0px 24px 0px;
  }
    
    .btn-extra-links{
        padding:0px;
        color:$color-muted-intense;
        float:right;
    }
}