//Login CSS start here
.login{
  background-color:$color-muted-light;

  h2{
    color: $color-text;
    margin:0px;
    font-size:em(24, $text-size-base);
  }
  p{
    color: $color-muted-dark;
    margin:4px 0px 12px 0px;
  }
    .alert{
      margin:8px 0px 0px 0px;
      padding:8px 12px;
      float:left;
      width:100%;
    }
    .alert-main{
      padding: 0px;
      margin: 0px;
      text-align: center;
      color: $color-brand-red;
    }
    .section-wrapper{
        float:left;
        width:100%;
    }
    .login-form-wrapper{
        width:320px;
        margin:0 auto;
    }
    label{
        color: $color-text;
        a{
            color: $color-text;
            font-weight:normal;
       }
    }
    .label-group{
        width:100%;
        float:left;
        .password-label{
            float:left;
        }
        .forgotpassword-label{
            float:right;
        }
    }
    
    input[type="password"],
    input[type="email"]
    {
        width:100%;
        float:left;
    }
    .btn-login{
        float:right;
    }
    .full-block{
        margin:0px 0px 8px 0px;
    }
  .logo{
    padding:0px;
    text-align:center;
    margin:40px 0px 20px 0px;
  }
    .btn-extra-links{
        padding:0px;
        color:$color-text;
        float:right;
    }
}