//signup CSS start here
.signup{
        background-color:$color-brand-blue;
    .section-wrapper{
        float:left;
        width:100%;
    }
    .alert{
      margin:8px 0px 0px 0px;
      float:left;
      width:100%;
    }

  .alert-main{
    margin: 0px;
    padding: 8px 0px;
    text-align: center;
    color: $color-brand-red;
  }
    .logo{
        padding:0px;
        margin:0px 0px 24px 0px;
      border-bottom:0px;
    }
    .signup-form-wrapper{
        width:320px;
        margin:0 auto;
    }
    label{
        color: $color-text-reversed;
    }
    
    h1{
        color: $color-text-reversed;
    }
    p{
        color: $color-text-reversed;
        margin:4px 0px 12px 0px;
    }
    
    input[type="email"],
    input[type="text"]
    {
        width:100%;
        float:left;
    }
    .btn-signup{
        float:right;
    }
    .full-block{
        margin:0px 0px 8px 0px;
    }
  .logo{
    padding:0px;
    margin:40px 0px 24px 0px;
  }
    
    .btn-extra-links{
        padding:0px;
        color:$color-text-reversed;
        float:right;
    }
}