//layout css here
html, body{
    width:100%;
    height:auto;
    min-height:100%;
    float:left;
    font-weight:300;
}
body{
  background-color:$color-layout-background-muted;
}
.full-block{
    width:100%;
    float:left;
}

.form-group{
  float:left;
  width:100%;
  margin-bottom:12px;
}

.navbar-default{
  border:none;
  border-radius:0px;
  background-color:$color-brand-dark-blue;
  .navbar-nav li{
    a{
      padding:29px 10px;
      color:$color-text-reversed;
    }
    a:hover{
      color:$color-text-reversed;
      background-color:$color-brand-light-blue;
     }
  }
  .dropdown-menu{
    li {
      a{
        padding: 4px 12px;
        color: $color-text;
      }
      a:hover{
        background-color: $color-brand-light-blue;
        color:$color-text-reversed;
      }
    }
  }
}

.alert-sm{
  padding:8px 12px;
}

.production-status{
  width:100%;
  text-align: center;
  background-color: $color-text;
  padding: 4px 0px;
  color: $color-text-reversed;
  position:relative;
  float:left;
  z-index:100;
}

label{
  font-weight:500;
}

.section-wrapper{
    width:100%;
    float:left;
}

.logo{
  margin:0px 0px 32px 0px;
}

.section-wrapper{
  h2{
    font-size:em(28, $text-size-base);
    font-weight:600;
  }
}

.home-panel, .device-control-panel{
        ul li{
            margin:1px 0px 0px 0px;
            a{
                display:block;
                padding:12px 20px;
                background-color:$color-brand-darkest-blue;
                color:$color-text-reversed;
            }
            a:hover{
                text-decoration:none;
                background-color:$color-brand-blue;
            }
        }
        li.active{
            a, a:hover{
                background-color:$color-brand-light-blue;
            }
        }
}


.device-card{
  text-align:center;
  width: 100%;
  float: left;
  span{
    float: left;
    width: 100%;
    margin: 12px 0px;
    font-weight: 600;
  }
}

.device-controls{
  width: 100%;
  float: left;
}

#footer{
  background-color:$color-brand-dark-blue !important;
  padding:20px 0px;
  .copyright{
    color:$color-text-reversed;
  }
  ul{
    margin:4px 0px;
    i{
      color:$color-text-reversed;
      font-size:em(8, $text-size-base);
    }
    a{
      color:$color-text-reversed;
      font-size:em(16, $text-size-base);
    }
  }
    .credits{
        margin: 10px 20px;
    }
}