//layout css here
html, body{
    width:100%;
    height:auto;
    min-height:100%;
    float:left;
    font-weight:300;
}
body{
  background-color:$color-layout-background-muted;
}
.full-block{
    width:100%;
    float:left;
}

.logo{
  text-align:center;
  padding:40px 0px;
}

.default-side-bar{
    .logo{
      border-bottom: 0px;
      margin:0px;
    }
}

.production-status{
  width:100%;
  text-align: center;
  background-color: $color-text;
  padding: 4px 0px;
  color: $color-text-reversed;
  position:relative;
  float:left;
  z-index:100;
}

.site-header{
    float:right;
    height:50px;
    h1{
        color:$color-text;
        font-size:24px;
        font-weight:600;
        margin:4px 0px 4px 8px;
    }
    a{
        color:$color-text;
        text-decoration:none;
    }
    .side-bar-toggle{
        font-size:21px;
        padding:14px;
    }
    figure{
        margin:8px 0px;
        img{
            width:32px;
            height:32px;
            @include border-left-radius(16px);
            @include border-right-radius(16px);
            -webkit-box-shadow: 0 1px 3px #555;
            -moz-box-shadow: 0 1px 3px #555;
            box-shadow: 0 1px 3px #555;
        }
    } 
    .member-detail{
        .member-type{
            color:$color-brand-dark-yellow;
            margin:16px 14px;
        }
        .identification{
            color:$color-brand-dark-blue;
            margin:16px 0px 16px 12px;
        }
        .settings{
            position:relative;
            padding:16px 20px;
            i{
                font-size:em(14, $text-size-base);
                color:$color-muted-mid;
            }
        }
        .dropdown-menu{
            margin-top: -10px;
            margin-right: 13px;
        }
    }
}

aside{
    width:240px;
    height:100%;
    z-index:20;
    overflow:scrollable;
    background-color:$color-brand-dark-blue;
    color:#FFFFFF;
    position:fixed;
}

.section-wrapper{
    width:100%;
    float:left;
}

.logo{
  border-bottom: 4px solid $color-muted-light;
  margin:0px 0px 32px 0px;
}

.aside-left{
    left:0;
    top:0;
    .section-wrapper{
        padding:0px 20px 0px 260px;
        @include box-sizing(border-box);
    }
}

.section-wrapper{
  h2{
    font-size:em(28, $text-size-base);
    font-weight:600;
  }
}

.aside-right{
    right:0;
    top:0;
    .section-wrapper{
        padding:0px 260px 0px 20px;
        @include box-sizing(border-box);
    }
}

.home-panel, .device-control-panel{
        ul li{
            margin:1px 0px 0px 0px;
            a{
                display:block;
                padding:12px 20px;
                background-color:$color-brand-darkest-blue;
                color:$color-text-reversed;
            }
            a:hover{
                text-decoration:none;
                background-color:$color-brand-blue;
            }
        }
        li.active{
            a, a:hover{
                background-color:$color-brand-light-blue;
            }
        }
}


.device-card{
  text-align:center;
  width: 100%;
  float: left;
  span{
    float: left;
    width: 100%;
    margin: 12px 0px;
    font-weight: 600;
  }
}

.device-controls{
  width: 100%;
  float: left;
}

#footer{
  background-color:$color-footer !important;
  padding:20px 0px;
  .copyright{
    color:$color-text-reversed;
  }
  ul{
    margin:4px 0px;
    i{
      color:$color-text-reversed;
      font-size:em(8, $text-size-base);
    }
    a{
      color:$color-text-reversed;
      font-size:em(16, $text-size-base);
    }
  }
    .credits{
        margin: 10px 20px;
    }
}