//Defining the variables
$color-layout-background-muted: #f6f6f6;

$color-muted-light: #eeeeee;
$color-muted-mid: #bbbbbb;
$color-muted-dark: #777777;
$color-muted-intense: #555555;

$color-text-reversed: #ffffff;
$color-text: #222;

$color-landing-lightest-blue:#82cecb;
$color-landing-light-blue: #50c2bd;
$color-landing-blue: #1ebbb7;
$color-landing-dark-blue: #00adac;

$color-footer: #0d3639;

$color-brand-fade-blue: #5fbdce;
$color-brand-light-blue: #37b6ce;
$color-brand-blue: #04859d;
$color-brand-dark-blue: #206876;
$color-brand-darkest-blue: #015666;

$color-brand-fade-yellow: #ffb573;
$color-brand-light-yellow: #ff9a40;
$color-brand-yellow: #ff7800;
$color-brand-dark-yellow: #bf7330;
$color-brand-darkest-yellow: #a64e00;

$color-brand-fade-red: #ff8073;
$color-brand-light-red: #ff5240;
$color-brand-red: #ff1800;
$color-brand-dark-red: #bf3d30;
$color-brand-darkest-red: #a61000;

$text-size-base : 14;
$font-text-default : "Roboto";