//Test Platform 
.test-platform{
    section{
        width:100%;
        float:left;
        margin:50px 0px;
        text-align:center;
                button{
                    margin:20px 0px;
                }
    }
}